<h1>Editing reading mission</h1>

<%= render "form", reading_mission: @reading_mission %>

<br>

<div>
  <%= link_to "Show this reading mission", @reading_mission %> |
  <%= link_to "Back to reading missions", reading_missions_path %>
</div>
