<h1>Editing reading time</h1>

<%= render "form", reading_time: @reading_time %>

<br>

<div>
  <%= link_to "Show this reading time", @reading_time %> |
  <%= link_to "Back to reading times", reading_times_path %>
</div>
